.app-container {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100vw;
}

.header .logo img {
	position: absolute;
    left: 5%;
    top: 5%;
    width: 200px;
}

/*==============================
==============Hero==============
==============================*/
.hero-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(http://res.cloudinary.com/dqvlfpaev/image/upload/c_scale,q_auto,w_2209/v1480903658/Encourse%20Hero.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 40vh;
	width: 100%;
	transition: all 1s ease;
}

.hero {
	width: 30%;
	color: white;
	text-align: center;
}

input.search {
	text-align: center;
	width: 100%;
    font-size: 1.2em;
    height: 2em;
}

/*==============================
=============Results============
==============================*/

#results {
	background-color: #F5F6F8;
	/*Masonary*/
	column-count: 4;
	column-gap: 0;
}

.result { 
	float:left;
	break-inside: avoid;
	background-color: white;
	margin: 5% 2.5% 0 2.5%;
	padding: 2%;
	background: #FEFEFE;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}

.result img {
	width: 100%;
}

.result h4 {
	padding-top: 5%;
}

.result .details {
	padding: 2% 0;
}

.result .description {
	color: #626262;
}

.result a {
	color:white;
	background: #0B486B;
	padding: 2%;
}

.result .center-wrapper {
	margin: 2% 0;
	flex-direction: row;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	#results { 	column-count: 1; }
}

.fullscreen {
	height: 100vh;
}
